@import '../variables.scss';

.Navigation {
  display: flex;
  width: 100%;
  height: $navigation-size;
  position: fixed;
  top: 0;
  padding: 0 50px;
  margin: 0;

  background-color: white;

  list-style: none;

  z-index: 20;
}

.Navigation-item {
  align-self: center;
  padding: 0 15px;
  text-transform: uppercase;

  &.center {
    padding-bottom: 0;
    padding-top: 4px;
    margin: 0 auto;
  }

  &.social {
    font-size: $social-font-size;
  }

  img {
    position: absolute;
    top: 0;
    left: 50%; /* position the left edge of the element at the middle of the parent */
    transform: translateX(-50%);
    width: 65px;
  }

}
