@import '../variables.scss';

.Footer {
  position: absolute;
  width: 100%;
  height: $footer-size;
  display: flex;
  padding: 10px 50px;
  background-color: white;
  z-index: 0;
}

.Footer-item {
  align-self: center;
  align-content: center;
  padding: 0 15px;
  text-transform: uppercase;

  &.small {
    font-size: $small-font-size;
  }

  &.center {
    margin: 0 auto;
  }

  .social {
    font-size: $social-font-size;

    &:hover {
      color: $social-color;
    }
  }

  img {
    width: 65px;
  }

  .Footer-links {
    margin-top: -14px;
    position: absolute;
    left: 42%;

    a {
      padding: 0 15px;
    }
  }
}
